body {
  font-family: Helvetica;
  text-align: center;
}

header,
.bar h2 {
  color: white;
}

h1 {
  font-size: 70px;
}

h1,
h2,
h3,
#menu p,
.nav p {
  font-weight: bold;
}

#menu {
  font-size: 18px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  font-size: 23px;
}

.pro p,
.bar p {
  font-size: 14px;
}

.nav {
  background-color: dimgray;
  color: white;
}

.nav p {
  font-size: 11px;
  color: white;
  text-align: left;
}

.Wh {
color: white;
}
